@model FutureValueModel
@{
    ViewData["Title"] = "Future Value Calculator";
}
<div class="container">
    <h1>Future Value Calculator</h1>
    <form method="post" asp-controller="Home" asp-action="Index">
        <div class="row">
            <div class="col-12">
                <div asp-validation-summary="All"></div>
            </div>
        </div>      
        <div class="row">
            <div class="col-12 col-sm-6">
                <label asp-for="MonthlyInvestment">Monthly Investment:</label>
                <input asp-for="MonthlyInvestment" />
            </div>
            <div class="col-12 col-sm-6">
                <label asp-for="YearlyInterestRate">Yearly Interest Rate:</label>
                <input asp-for="YearlyInterestRate" />
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6">
                <label asp-for="Years">Number of Years:</label>
                <input asp-for="Years" />
            </div>
            <div class="col-12 col-sm-6">
                <label>Future Value:</label>
                <input value="@ViewBag.FV.ToString("C2")" readonly />
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 col-sm-6">
                <button type="submit" class="btn btn-primary">Calculate</button>
                <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Clear</a>
            </div>
        </div>
    </form>
</div>